.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.dropdown {
  width: 48%;
  float: left;
  margin: 1%;
}

.widget {
  /* background-color: #61dafb; */
  width: 33%;
  height: 50%;
  float: left;
}

img {
  width: 90%;
  /* height: 20%; */
}

iframe#workshop-calendar {
  width: 90%;
}